{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body-color %}white{% endblock %}
{% block content %}

<div class="about-image">
  <div class="container">
    <div class="row">
      <p class="hero-title">We're trying to connect people.</p>
    </div>
  </div>
</div>

<div class="about-section-1">
<div class=" container">
  <div class="row">
    <div class="col-sm-6"><h4>Our Mission</h4></div>
     <div class="col-sm-6">
        <p> The Cornell Maker Association (CMA) was originally conceived as a university-wide, cross-disciplinary initiative to foster innovation and creativity in the Cornell community. Founded by six undergraduates in the Engineering Leadership Program, CMA was created with the intention of providing Cornell students with the necessary resources to work on projects outside of their normal academic environment. 
        </p>
  </div>
</div>
</div>

  </div>
<div class="about-section-2">
  <div class="container">
        <div class="row">
          <div class="col-md-12 title-bottom-margin">
        <h4>Who we are</h4> 
      </div>
        </div>


        <div class="row">

           <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="http://lorempixel.com/200/200/cats" class="about-picture about-thumbnail-img"/>
                </div>
                <div class="about-info">
                  <strong><p>Justin Selig</p></strong>
                  <p>description</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="http://lorempixel.com/200/200/cats" class="about-picture about-thumbnail-img"/>
                </div>
                <div class="about-info">
                  <strong><p>Justin Selig</p></strong>
                  <p>description</p>
                </div>
              </div>
            </div>

           <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="http://lorempixel.com/200/200/cats" class="about-picture about-thumbnail-img"/>
                </div>
                <div class="about-info">
                  <strong><p>Justin Selig</p></strong>
                  <p>description</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="http://lorempixel.com/200/200/cats" class="about-picture about-thumbnail-img"/>
                </div>
                <div class="about-info">
                  <strong><p>Justin Selig</p></strong>
                  <p>description</p>
                </div>
              </div>
            </div>

       </div>
  </div>
</div>

<div class=" about-section-3">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h4>Sponsors</h4>
       </div>
    </div>
  </div>
</div>









{% endblock %}

