{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body-color %}white{% endblock %}
{% block content %}
{% load static %}

<div class="about-image">
  <div class="container">
    <div class="row">
      <p class="hero-title">We're trying to connect people.</p>
    </div>
  </div>
</div>

<div class="about-section-1">
<div class=" container">
  <div class="row">
    <div class="col-sm-6"><h4>Our Mission</h4></div>
     <div class="col-sm-6">
        <p> The Cornell Maker Association (CMA) was originally conceived as a university-wide, cross-disciplinary initiative to foster innovation and creativity in the Cornell community. Founded by six undergraduates in the Engineering Leadership Program, CMA was created with the intention of providing Cornell students with the necessary resources to work on projects outside of their normal academic environment. 
        </p>
  </div>

  <div class="row">
      <div class="col-sm-6"><h4>Where we are</h4></div>
      <div class="col-sm-6">
        <div id="map" style="height: 354px; width:530px;"></div>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrjjHwS-mNwMQnHgRu9Ts6KKuNnvZiG88&callback=initMap">
        </script>
        <script src="../static/js/maps.js"></script>
        <script>initMap();</script>
      </div>
  </div>
</div>
</div>

  </div>
<div class="about-section-2">
  <div class="container">
        <div class="row">
          <div class="col-md-12 title-bottom-margin">
        <h4>Who we are</h4> 
      </div>
        </div>


        <div class="row">

           <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="{% static "images/justin2.png" %}" class="about-picture about-thumbnail-img img-thumbnail"/>
                </div>
                <div class="about-info">
                  <strong><p>Justin Selig</p></strong>
                  <i><p>Founder, Project Lead</p></i>
                  <p>Justin is a junior studying Electrical and Computer Engineering. He founded CornellMake in 2015 after working to establish a campus maker-space the year prior. He represents the College of Engineering in Cornell's student government and is the president of Engineering World Health, a biomedical engineering project team. He hails from New York City.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="{% static "images/charlie.png" %}" class="about-picture about-thumbnail-img img-thumbnail"/>
                </div>
                <div class="about-info">
                  <strong><p>Charlie Tark</p></strong>
                  <i><p>Web Development Lead</p></i>
                  <p>Charlie is a senior in Computer Science with minors in Information Science and Game Design. In addition to programming for the web, he also has a passion for graphic design and mobile development. If it weren't for computer science, he would love the idea of being a concept artist for movies or games.</p>
                </div>
              </div>
            </div>

           <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="{% static "images/brendan.png" %}" class="about-picture about-thumbnail-img img-thumbnail"/>
                </div>
                <div class="about-info">
                  <strong><p>Brendan Elliott</p></strong>
                  <i><p>Design Lead</p></i>
                  <p>Brendan is a freshman in the College of Arts and Sciences, majoring in Information Science and concentrating in User Experience Design. He loves design and entrepreneurship and hopes to someday start his own venture around a product or experience. For fun he enjoys collecting vinyl records, going to concerts and following Boston sports.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="about-panel">
                <div class="about-thumbnail">
                    <img src="{% static "images/nini.png" %}" class="about-picture about-thumbnail-img img-thumbnail"/>
                </div>
                <div class="about-info">
                  <strong><p>Nini Shan</p></strong>
                  <i><p>Marketing Lead</p></i>
                  <p>Nini is a junior in Operations Research Engineering with interests in business development, strategy, and entrepreneurship. She loves traveling and photography, and is from Houston, Texas.</p>
                </div>
              </div>
            </div>

       </div>
  </div>
</div>

<div class=" about-section-3">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h4>Sponsors</h4>
       </div>
    </div>
  </div>
  <div class="row">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-6">
        <img src="{% static "images/lcllogo.png" %}" alt="lcllogo" class="img-responsive" height="200" width="400">
        </div>
      <div class="col-md-6">
        <img src="{% static "images/cornelllogo.png" %}" alt="cornelllogo" class="img-responsive" height="200" width="350">
      </div>
    </div>
  </div>
  </div>
</div>









{% endblock %}

