{% extends "base.html" %}
{% block title %}Connect{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-9" role="main">
			<form action="">
				<div>
					<span>Show me</span>
					<span>
						<select>
							<option value="projects">Projects</option>
							<option value="users">Users</option>
							<option value="media">Lectures</option>
<!--
							<option value="videos">Videos</option>
							<option value="photos">Photos</option>
-->
						</select>
					</span>
					<del><span>sorted by</span></del>
					<span>
						<select>
							<option value="popularity">Popularity</option>
							<option value="date">Date</option>
							<option value="name">Name</option>
						</select>
					</span>
				</div>
			</form>
<!--
			<button class="category-box">Projects</button>
			<button class="category-box">Users</button>
			<button class="category-box">Media</button>
-->
			You searched for {{ query }}.
			<div class="row">
				{% for project in projects %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="{{ STATIC_URL }}{{project.image}}" />
						<div class="caption">
							<h3>{{project.idea_name}}</h3>
							<p>{{project.description}}</p>
							<p><a href="/projects/{{ project.url }}" class="btn btn-default" role="button">View Project</a></p>
<!--							CHANGE IDEA_NAME TO A CUSTOM URL GIVEN BY USER-->
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="col-md-3">
			<ul class="nav affix">
				<h3>Categories</h3>
				<a href="/connect/?project-search={{ query }}&category=PT">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-user"></span> Project Team
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=RESEARCH">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-search"></span> Research
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=STARTUP">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-road"></span> Startup
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=CH">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-floppy-disk"></span> Computer Hardware
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=CS">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-sound-stereo"></span> Computer Software
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=MECHE">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-wrench"></span> Mechanical
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=ENV">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-leaf"></span> Environmental
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=ADM">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-picture"></span> Design
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=SE">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-globe"></span> Social
					</button>
				</a>
				<a href="/connect/?project-search={{ query }}&category=OTHER">
					<button class="category-box btn">
						<span class="glyphicon glyphicon-question-sign"></span> Other
					</button>
				</a>
			</ul>
		</div>
	</div>
</div>


{% endblock %}