{% extends "base.html" %}
{% block title %}Create{% endblock %}	
{% block content %}
		
	<div class="makerspace-header bg-primary" id="header-create">
		<div class="container">
			<h1>Create</h1>
			<p class="lead">Share your ideas. Make things happen.</p>
		</div>
	</div>
	
	<main>
		<div class="container">

			<form>
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">About You</h2>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="form-group">
										<label for="name">Name *</label>
										<input type="text" name="name" class="form-control" required />
									</div>
									<div class="form-group">
										<label for="name">Email *</label>
										<input type="text" name="email" placeholder="netID@cornell.edu" class="form-control" required />
									</div>
									<div class="form-group">
										<label for="name">Organization or Club Name</label>
										<input type="text" name="org-name" class="form-control" />
									</div>
									<div class="form-group">
										<label for="name">Website</label>
										<input type="text" name="org-name" class="form-control" />
									</div>
									
								</fieldset>
							</div>
							<div class="panel-footer text-muted">
								This information will be publically viewable.
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">About Your Idea</h2>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="form-group">
										<label for="name">What's it called? *</label>
										<input type="text" name="idea-name" class="form-control" placeholder="Idea Name" required />
									</div>
									<div class="form-group">
										<label for="name">Quick! The 30 Second Elevator Pitch! *</label>
										<textarea name="idea-description" class="form-control" placeholder="Idea Description" required ></textarea>
									</div>
									<div class="form-group">
										<label>What categories does it fit in? *</label>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-projectTeam"> Project Team</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-research"> Research</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-startup"> Startup</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-compHard"> Computer Hardware</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-compSoft"> Computer Software</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-mechanical"> Mechanical</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-environmental"> Environmental</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-design"> Art, Design, or Multi-Media</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-social"> Social Entrepreneurship</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" name="idea-category-other"> Other</label>
										</div>
									</div>
									<div class="form-group">
										<label for="name">Upload an image of it</label>
										<input type="file" name="org-name"  />
									</div>
									
								</fieldset>
							</div>
							<div class="panel-footer text-muted">
								This information will be publically viewable.
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h2 class="panel-title">Submit Idea Proposal</h2>
							</div>
							<div class="panel-body">
								<fieldset>
									<p>We'll contact you at the email address you provided regarding the approval of your proposal.</p>
									<hr>
									<button type="submit" name="idea-submit" class="btn btn-lg btn-primary">Submit Idea</button>							
								</fieldset>
							</div>
							<div class="panel-footer text-muted">
								By submitting your idea, you agree to our Terms & Conditions.
							</div>
						</div>
					</div>
				
				</div>
			</form>
			
		</div>
	</main>
{% endblock %}