{% extends "base.html" %}
{% block title %}Discover{% endblock %}

{% block content %}
<div class="discover-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="">
					<div>
						<span>
							<select>
								<option value="all">All</option>
								<option value="academic">Academic</option>
								<option value="extracirricular">Extracirricular</option>
								<option value="startup/business">Startup/Business</option>
								<option value="personal">Personal</option>
							</select>
						</span>
						<span>projects, sorted by</span>
						<span>
							<select>
								<option value="popularity">Popularity</option>
								<option value="date">Date</option>
								<option value="name">Name</option>
							</select>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			<h3>Explore live projects:</h3>
		</div>
				{% for project in projects %}
				<div class="col-md-4">

					<div class="projects-panel">
							<div class="project-picture-box" >
								<img src="{{ STATIC_URL }}{{project.image}}" class="project-picture" height="200px" >
							</div>
							<div class="caption pull-left project-caption">
								<h3>{{project.idea_name}}</h3>
								<p>{{project.description}}</p>
								<div="view-project-button"><p><a href="/projects/{{ project.url }}" class="btn btn-default" role="button">View Project</a></p></div>
							</div>
					</div>


					<div class="col-md-4">

					<div class="projects-panel">
							<div class="project-picture-box" >
								<img src="{{ STATIC_URL }}{{project.image}}" class="project-picture" height="200px" >
							</div>
							<div class="caption pull-left project-caption">
								<h3>{{project.idea_name}}</h3>
								<p>{{project.description}}</p>
								<div="view-project-button"><p><a href="/projects/{{ project.url }}" class="btn btn-default" role="button">View Project</a></p></div>
							</div>
					</div>
					<div class="col-md-4">
					<div class="projects-panel">
							<div class="project-picture-box" >
								<img src="{{ STATIC_URL }}{{project.image}}" class="project-picture" height="200px" >
							</div>
							<div class="caption pull-left project-caption">
								<h3>{{project.idea_name}}</h3>
								<p>{{project.description}}</p>
								<div="view-project-button"><p><a href="/projects/{{ project.url }}" class="btn btn-default" role="button">View Project</a></p></div>
							</div>
					</div>				
				{% endfor %}		
	</div>		
</div>



{% endblock %}