{% extends "base.html" %}
{% block title %}Discover{% endblock %}
{% block body-color %}grey{% endblock %}
{% block content %}
<div class="discover-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="">
					<div>
						<span>
							<select class="discover-category">
								<option value="all">All</option>
								<option value="academic">Academic</option>
								<option value="extracirricular">Extracirricular</option>
								<option value="startup/business">Startup/Business</option>
								<option value="personal">Personal</option>
							</select>
						</span>
						<span>projects, sorted by</span>
						<span>
							<select class="discover-sort">
								<option value="popularity">Popularity</option>
								<option value="date">Date</option>
								<option value="name">Name</option>
							</select>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			<h3>Explore live projects:</h3>
		</div>
				{% for project in projects %}
				<div class="col-sm-4">
					<div class="project-panel">
							<div class="project-thumbnail" style="">
								<a href="/projects/{{ project.url }}"> <img src="{{ STATIC_URL }}{{project.image}}" class="project-thumbnail-img" width="200"></a>
							</div>
							<div class="project-info caption">
								<h3>{{project.idea_name}}</h3>
								<p>{{project.description}}</p>
								<p>{{project.name}}</p>
							</div>
					</div>
				</div>


				<div class="col-sm-4">
					<div class="project-panel">
							<div class="project-thumbnail" style="">
								<a href="/projects/{{ project.url }}"> <img src="{{ STATIC_URL }}{{project.image}}" class="project-thumbnail-img" width="200"></a>
							</div>
							<div class="project-info caption">
								<h3>{{project.idea_name}}</h3>
								<p>{{project.description}}</p>
								<p>{{project.name}}</p>
							</div>
					</div>
				</div>	

				<div class="col-sm-4">
					<div class="project-panel">
							<div class="project-thumbnail" style="">
								<a href="/projects/{{ project.url }}"> <img src="{{ STATIC_URL }}{{project.image}}" class="project-thumbnail-img" width="200"></a>
							</div>
							<div class="project-info caption">
								<h3>{{project.idea_name}}</h3>
								<p>{{project.description}}</p>
								<p>{{project.name}}</p>
							</div>
					</div>
				</div>	

				<div class="col-sm-4">
					<div class="project-panel">
							<div class="project-thumbnail" style="">
								<a href="/projects/{{ project.url }}"> <img src="{{ STATIC_URL }}{{project.image}}" class="project-thumbnail-img" width="200"></a>
							</div>
							<div class="project-info caption">
								<h3>{{project.idea_name}}</h3>
								<p>{{project.description}}</p>
								<p>{{project.name}}</p>
							</div>
					</div>
				</div>			
				{% endfor %}		
	</div>		
</div>



{% endblock %}