{% extends "base.html" %}
{% block title %}CornellMake{% endblock %}
{% block body-color %}grey{% endblock %}
{% block content %}

<div class="hero">
<div class="container hero-container">
	<div class="row">
		<div class="col-md-12 hero-text">
			<h1>Find people to help you bring your ideas to life.</h1>
			<button class="btn btn-default btn-started" type="submit" value="started"><a href="/accounts/register">Let's get started</a></button>
		</div>
	</div>
</div>
</div>


<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			<h3>Featured Projects</h3>
		</div>
				{% for project in projects %}
				<div class="col-sm-4">
					<div class="project-panel">
							<div class="project-thumbnail" style="">
								<a href="/projects/{{ project.url }}"> <img src="{{ STATIC_URL }}{{project.image}}" class="project-thumbnail-img"></a>
							</div>
							<div class="project-info caption">
								<strong><p>{{project.idea_name}}</strong><br>
								by {{project.name}}</p>
								<p>{{project.description}}</p>
								
							</div>
					</div>
				</div>
				{% endfor %}		
	</div>		
</div>



{% endblock %}
