<!DOCTYPE html">
<html lang="en">
<head>
	
<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>Cornell Makerspace</title>
		
<!-- CSS
================================================== -->
	<!-- Bootstrap -->
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<!-- Site Specific -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500italic,500' rel='stylesheet' type='text/css'>
	
<!-- Mobile Specifications
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
<!-- Browser Compatibility
================================================== -->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>	
<body class="home">

<!-- Body
================================================== -->
	<header id="top">  
		<nav>
			<ul class="nav-bars">
				<li><a class="nav-top" href="http://google.com">Connect</a></li>
				<li><a class="nav-bottom" href="#">Create</a></li>
				<li><a class="nav-right" href="#"><div class="text-rotate-right">Media</div></a></li>
				<li><a class="nav-left" href="#"><div class="text-rotate-left">About</div></a></a></li>
			</ul>
		</nav>
	</header>
	
	<main id="main-content">
		<div class="home-fg">
			<h1>Cornell Makerspace</h1>
	
			<p class="lead">
				A university-wide, cross-disciplinary initiative to foster innovation and creativity by providing students the necessary resources to work on projects that matter.
			</p>
		</div>

		<!-- Slideshow Images -->
		<div class="bg-fader">
			<img class="bg-fader-img" src="{{ STATIC_URL }}images/bg1.jpg"></img>
			<img class="bg-fader-img" src="{{ STATIC_URL }}images/bg2.jpg"></img>
			<img class="bg-fader-img" src="{{ STATIC_URL }}images/bg3.jpg"></img>
			<img class="bg-fader-img" src="{{ STATIC_URL }}images/bg4.jpg"></img>
		</div>
	</main>

<!-- JavaScript
================================================== -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/home.js"></script>
</body>
</html>