{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="1; URL={{ BASE_URL }}/accounts/profile/">
{% endif %}
{% endblock %}

{% block body-color %}grey{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">

	<div class="login-box">
	<div class="login-box-fields">
	{% if user.is_authenticated %}
	<h1>Redirecting</h1>
	{% else %}
	<span class="login-title">Login</span>
	<form action="/accounts/login/" method="POST">
		{% csrf_token %}
		<div class="row">
			<span style="color:red;">{{ invalid }}</span>
			<span style="color:green;">{{ success }}</span>
		</div>
		<!--br>
		<div class="row">
			<input type="text" name="username" placeholder="Username" class="form-control" required>
		</div>
		<br-->
		<div class="row">
			<input type="text" name="email" placeholder="email" class="form-control" required>
		</div>
		<br>
		<div class="row">
			<input type="password" name="password" placeholder="Password" class="form-control" required>			
		</div>
		<br>
		<div class="row">
			<button class="btn btn-default btn-normal" type="submit" value="login">Login</button>
		</div>
	</form>

	{% endif %}
	</div>
	<div class="login-box-footer">


	<span>New here? </span><a href="/accounts/register/">Sign Up!</a>
	<br><!-- <br>

	<a href="/accounts/password/reset/">Forgot password?</a> -->
	</div>
	</div>
</div>
</div>
</div>

{% endblock %}