{% extends "base.html" %}
{% block title %}{{ profile.user }}'s Profile{% endblock %}
{% block content %}

<!--
<form action="" method="post">
	Change Info:<br>
	Email: <input type="text" name="email" /><br>
	<input type="text" name="" /><br>
	Change Password:<br>
	Old Password: <input type="password" name="old_password" /><br>
	New Password: <input type="password" name="new_password1" /><br>
	Confirm Password: <input type="password" name="new_password2" /><br>
	<input type="submit" value="Change Password" />
</form>
-->
<div class="col-md-3"></div>

<div class="col-md-6">
	<div class="profile-box">





<div class="profile-form-header">
	<span class="profile-form-title">Edit Profile</span>
	<a href="/accounts/user/{{profile.user}}">
		<button class="btn btn-default pull-right">View Public Profile</button>
	</a>
</div>

<br>

<div class="profile-form-section">
<span class="bold">Username:</span> {{ profile.user.username }}
<ul></ul>
<span class="bold">Name:</span> {{ profile.user.first_name }} {{ profile.user.last_name }} 
<ul></ul>
<span class="bold">My Projects:</span> <ul>{% for project in profile.projects.all %}<li>{{ project.idea_name }}</li>{% endfor %}</ul>
<span class="bold">Pending Membership Requests:</span> <ul>{% for project in member_requests %}<li>{{ project.name }}</li>{% endfor %}</ul><br>

</div>
<br>


<form action="" method="post">{% csrf_token %}
	<span class="bold">Email: </span><input name="email" class="form-control" value="{{ profile.user.email }}" /><br>
	<span class="bold">Phone Number: </span><input name="phone" class="form-control" value="{{ profile.phone }}" /><br>
	<span class="bold">Major: </span><input name="major" class="form-control" value="{{ profile.major }}" /><br>
	<span class="bold">School: </span><input name="school" class="form-control" value="{{ profile.school }}" /><br>
	<input class="btn btn-default" type="submit" value="Save and Update" /> {% if profile_change %}<label style="color:green;">Update success!</label>{% endif %}
</form>


</div>
</div>
<div class="col-md-3"></div>



{% endblock %}