{% extends "base.html" %}
{% block title %}{{ profile.user }}'s Profile{% endblock %}
{% block content %}

<!--
<form action="" method="post">
	Change Info:<br>
	Email: <input type="text" name="email" /><br>
	<input type="text" name="" /><br>
	Change Password:<br>
	Old Password: <input type="password" name="old_password" /><br>
	New Password: <input type="password" name="new_password1" /><br>
	Confirm Password: <input type="password" name="new_password2" /><br>
	<input type="submit" value="Change Password" />
</form>
-->
<a href="/accounts/user/{{profile.user}}"><button class="btn btn-default">View Public Profile</button></a><br>
Profile user: {{ profile.user }}<br>
Profile username: {{ profile.username }}<br>
Username: {{ profile.user.username }}<br>
first name: {{ profile.user.first_name}}<br>
My Projects: <ul>{% for project in profile.projects.all %}<li>{{ project.name }}</li>{% endfor %}</ul>
{% if member_requests %}Member Requests: <ul>{% for project in member_requests %}<li>{{ project.name }}</li>{% endfor %}</ul>{% endif %}
<br>
Contact Information:<br>
Email: {{ profile.user.email }}<br>
Phone Number: {{ profile.phone }}<br>
Major: {{ profile.major }}<br>
School: {{ profile.school }}

{% endblock %}