{% extends "base.html" %}
{% block title %}{{ profile.user }}'s Profile{% endblock %}
{% block content %}

<!--
<form action="" method="post">
	Change Info:<br>
	Email: <input type="text" name="email" /><br>
	<input type="text" name="" /><br>
	Change Password:<br>
	Old Password: <input type="password" name="old_password" /><br>
	New Password: <input type="password" name="new_password1" /><br>
	Confirm Password: <input type="password" name="new_password2" /><br>
	<input type="submit" value="Change Password" />
</form>
-->
<a href="/accounts/user/{{profile.user}}"><button class="btn btn-default">View Public Profile</button></a><br>
Username: {{ profile.user.username }}<br>
First Name: {{ profile.user.first_name }}<br>
Last Name: {{ profile.user.last_name }}<br>
My Projects: <ul>{% for project in profile.projects.all %}<li>{{ project.name }}</li>{% endfor %}</ul>
Pending Membership Requests: <ul>{% for project in member_requests %}<li>{{ project.name }}</li>{% endfor %}</ul>
<br>

<form action="" method="post">{% csrf_token %}
	{% if profile_change %}<label style="color:green;">Updated Successfully</label>{% endif %}<br>
	Contact Information:<br>
	Email: <input name="email" value="{{ profile.user.email }}" /><br>
	Phone Number: <input name="phone" value="{{ profile.phone }}" /><br>
	Major: <input name="major" value="{{ profile.major }}" /><br>
	School: <input name="school" value="{{ profile.school }}" /><br>
	<input class="btn btn-default" type="submit" value="submit" />
</form>

{% endblock %}