{% extends "base.html" %}
{% block title %}{{ project.idea_name }}{% endblock %}
{% block content %}


<div class="container">
<div class="row">
	<div class="{{project.category}}-project project-box">

		<div class="project-box-header">
			<h3>{{ project.idea_name }}</h3>
			<p>By {{ project.owner }}</p>
		</div>

		<div class="col-md-8 project-box-left">
			<img src="{{ STATIC_URL }}{{ project.image }}" class="project-box-image"/>
		</div>
		<div class="col-md-4 project-box-right">

				<p>
					
					{{ project.description }}<span>(description)</span>
				</p>
				
				<span>Type:</span>
				
						<p><span>Credit Offered:</span> {{ project.credit_offered }}</p>
						<p><span>Pay:</span> {{ project.pay }}</p>
						<p><span>Supervisor:</span> {{ project.supervisor }}</p>
						<p><span>Department:</span> {{ project.department }}</p>
			

				
		</div>
		
	</div>
</div>
</div>

<div class="project-slide-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h3>About</h3> 
				<p>{{ project.description }}</p>
			</div>
			<div class="col-md-4">
				<h3>Contact</h3> 
				<p>{{ project.name }}<span>(contact name)</span></p>
				<p>{{ project.website }}<span>(website)</span></p>

			</div>
		</div>
	</div>
</div>



<!-- 
<div class="container">
	<div class="row">
			<div class="project-information">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
					<li><a href="#profile" role="tab" data-toggle="tab">Team Profile</a></li>
				</ul>
				<div id="myTabContent" >
					<div class="tab-pane fade in active" id="overview">
						<div class="col-md-12 tab-content">
 							
						<br>
							<span class="bold">Overview:</span><br>
							<p>{{ project.description }}</p><br><br><br><br><br><br>
						</div>
					</div>
					<div class="tab-pane fade" id="profile">
						<div class="col-md-12 tab-content">
				
					<p>Members: {% for member in project.members.all %}{{ member }} {% endfor %}</p>
						</div>
					</div>
				
				</div>
			</div>
		
	</div>
</div>
 -->

<!-- 

{% if join %}<span style="color:green;">Join request sent to project owner.</span>{% endif %}
				<div class="currently-recruiting-text"><span class="bold"><p>Currently recruiting.</p></span></div><br>
				<form action="" method="post">{% csrf_token %}



					<button class="btn btn-success" name="join-project" value="submit" type="submit">
						<span class="glyphicon glyphicon-plus"></span> Ask to Join
					</button>
				</form> -->





<!--only if current user is project owner show member requests-->
<!-- {% if user == project.owner %}
<form action="" method="post">{% csrf_token %}
	<table class="table">
		<thead>
			<tr>
				<th>User</th>
				<th>Approve?</th>
			</tr>
		</thead>
		<tbody>
			{% for member_request in project.member_requests.all %}
			<tr>
				<td>{{ member_request }}</td>
				<td>Approve <input type="checkbox" value="{{ member_request.id }}" name="approved"><br>Disapprove <input type="checkbox" value="{{ member_request.id }}" name="disapproved"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="submit" name="member-approve" value="submit" />
</form>
{% endif %} -->

{% endblock %}