{% extends "base.html" %}
{% block title %}{{ project.idea_name }}{% endblock %}
{% block content %}

<div class="row">
	<div class="{{project.category}}-project project-intro">
		<div class="project-header panel panel-default col-md-8">
			<div class="col-md-8 project-header-left">
				<h1>{{ project.idea_name }}</h1>
				<h3>{{ project.name }}</h3>
				<p>{{ project.description }}</p>
				<p>
					{% if project.category == 'PT' %}
					<span class="glyphicon glyphicon-user"></span> Project Team
					{% elif project.category == 'RESEARCH' %}
					<span class="glyphicon glyphicon-search"></span> Research
					{% elif project.category == 'STARTUP' %}
					<span class="glyphicon glyphicon-road"></span> Startup
					{% elif project.category == 'CH' %}
					<span class="glyphicon glyphicon-floppy-disk"></span> Computer Hardware
					{% elif project.category == 'CS' %}
					<span class="glyphicon glyphicon-sound-stereo"></span> Computer Software
					{% elif project.category == 'MECHE' %}
					<span class="glyphicon glyphicon-wrench"></span> Mechanical
					{% elif project.category == 'ENV' %}
					<span class="glyphicon glyphicon-leaf"></span> Environmental
					{% elif project.category == 'ADM' %}
					<span class="glyphicon glyphicon-picture"></span> Art, Design, Multimedia
					{% elif project.category == 'SE' %}
					<span class="glyphicon glyphicon-globe"></span> Social Entrepreneurship
					{% elif project.category == 'OTHER' %}
					<span class="glyphicon glyphicon-question-sign"></span> Other
					{% endif %}
				</p>
			</div>
			<div class="col-md-4 project-header-right">
				<button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Join this Project</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<ul id="myTab" class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
			<li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="overview">
				<div class="col-md-4">
					<img src="{{ STATIC_URL }}{{ project.image }}" class="img-responsive img-rounded" />
				</div>
				<div class="col-md-8">
					<p>{{ project.description }}</p>
				</div>
			</div>
			<div class="tab-pane fade" id="profile">
			<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>

<h1>Temporary Project Page</h1>
<img src="{{ STATIC_URL }}{{project.image}}" /><br>
URL: {{ project.url }}<br>
Name: {{ project.name }}<br>
Idea Name: {{ project.idea_name }}<br>
Category: {{ project.category }}
{% endblock %}