{% extends "base.html" %}
{% block title %}{{ project.idea_name }}{% endblock %}
{% block content %}


<div class="container">
<div class="row">
	<div class="{{project.category}}-project project-intro">
		<div class="project-header col-md-12">

				<div class="project-title-section"><h1>{{ project.idea_name }}</h1></div>
				<p>By {{ project.owner }}</p>

		<div class="col-md-8 project-header-left">
				<img src="{{ STATIC_URL }}{{ project.image }}" width="600"/>
			</div>
			<div class="col-md-4 project-header-right">


				<div class="project-title-section">
				<p><span class="bold">Description:</span>
				{{ project.description }}</p>
					<br><p><span class="bold">Contact Name:</span> {{ project.name }}</p>
						
						<span class="bold">Type:</span>

						<p><span class="bold">Website:</span> {{ project.website }}</p>
						<p><span class="bold">Credit Offered:</span> {{ project.credit_offered }}</p>
						<p><span class="bold">Pay:</span> {{ project.pay }}</p>
						<p><span class="bold">Supervisor:</span> {{ project.supervisor }}</p>
						<p><span class="bold">Department:</span> {{ project.department }}</p>
					</div>

				
			</div>
			
		</div>
	</div>
</div>
</div>

<!-- 
<div class="container">
	<div class="row">
			<div class="project-information">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
					<li><a href="#profile" role="tab" data-toggle="tab">Team Profile</a></li>
				</ul>
				<div id="myTabContent" >
					<div class="tab-pane fade in active" id="overview">
						<div class="col-md-12 tab-content">
 							
						<br>
							<span class="bold">Overview:</span><br>
							<p>{{ project.description }}</p><br><br><br><br><br><br>
						</div>
					</div>
					<div class="tab-pane fade" id="profile">
						<div class="col-md-12 tab-content">
				
					<p>Members: {% for member in project.members.all %}{{ member }} {% endfor %}</p>
						</div>
					</div>
				
				</div>
			</div>
		
	</div>
</div>
 -->

<!-- 

{% if join %}<span style="color:green;">Join request sent to project owner.</span>{% endif %}
				<div class="currently-recruiting-text"><span class="bold"><p>Currently recruiting.</p></span></div><br>
				<form action="" method="post">{% csrf_token %}



					<button class="btn btn-success" name="join-project" value="submit" type="submit">
						<span class="glyphicon glyphicon-plus"></span> Ask to Join
					</button>
				</form> -->





<!--only if current user is project owner show member requests-->
<!-- {% if user == project.owner %}
<form action="" method="post">{% csrf_token %}
	<table class="table">
		<thead>
			<tr>
				<th>User</th>
				<th>Approve?</th>
			</tr>
		</thead>
		<tbody>
			{% for member_request in project.member_requests.all %}
			<tr>
				<td>{{ member_request }}</td>
				<td>Approve <input type="checkbox" value="{{ member_request.id }}" name="approved"><br>Disapprove <input type="checkbox" value="{{ member_request.id }}" name="disapproved"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="submit" name="member-approve" value="submit" />
</form>
{% endif %} -->

{% endblock %}