{% extends "base.html" %}
{% block title %}{{ profile.user }}'s Profile{% endblock %}
{% block content %}

{% if profile.user == user %}
<a href="/accounts/user/profile/"><button class="btn btn-default">Edit Profile</button></a><br>
{% endif %}

Username: {{ profile.user.username }}<br>
Email: {{ profile.user.email }}<br>
first name: {{ profile.user.first_name}}<br>
My Projects: <ul>{% for project in profile.projects.all %}<li>{{ project.idea_name }}</li>{% endfor %}</ul>

Contact Information:<br>
Email: {{ profile.user.email }}<br>
Phone Number: {{ profile.phone }}<br>
Major: {{ profile.major }}<br>
School: {{ profile.school }}

{% endblock %}