{% extends "base.html" %}
{% block title %}{{ profile.user }}'s Profile{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="profile-box">
				<div class="profile-form-header">
					<span class="profile-form-title">{{ profile.user.username }}</span>
					{% if profile.user == user %}
					<a href="/accounts/user/profile/"><button class="btn btn-default pull-right">Edit Profile</button></a><br>
					{% endif %}
				</div>
				<div class="profile-form-section">
					<br>
					<span class="bold">Name:</span> {{ profile.user.first_name}} {{ profile.user.last_name}}<br><ul></ul>
					<span class="bold">Current projects: </span> <ul>{% for project in profile.projects.all %}<li>{{ project.idea_name }}</li>{% endfor %}</ul><br>
					<span class="bold">Email:</span>  {{ profile.user.email }}<br><br>
					<span class="bold">Phone:</span>  {{ profile.phone }}<br><br>
					<span class="bold">Major:</span>  {{ profile.major }}<br><br>
					<span class="bold">School:</span>  {{ profile.school }}
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}