{% extends "base.html" %}
{% block title %}{{ profile.user }}'s Profile{% endblock %}
{% block body-color %}white{% endblock %}
{% block content %}

<div class="profile-box-1">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 profile-box-1-contents">
						<img src="http://lorempixel.com/150/150/cats" class="profile-picture"/>
						<div class="profile-information">
							<span class="profile-form-title">{{ profile.user.username }}</span><br>
							<span class="bold">Email:</span>  {{ profile.user.email }}<br>
							<span class="bold">Phone:</span>  {{ profile.phone }}<br>
							<span class="bold">Major:</span>  {{ profile.major }}<br>
							<span class="bold">School:</span>  {{ profile.school }}
						</div>


					{% if profile.user == user %}
						<a href="/accounts/user/profile/"><button class="btn btn-default pull-right">Edit Profile</button></a><br>
						{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="profile-box-2">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 all-projects-title">
				<h4>Current Projects:</h4>

			</div>
				<div class="profile-form-section">
					<ul>{% for project in profile.projects.all %}<li>{{ project.idea_name }}</li>{% endfor %}</ul><br>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}