{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="1; URL={{ BASE_URL }}/accounts/user/profile/">
{% endif %}
{% endblock %}

{% block content %}

<div class="col-md-12">
	<div class="login-box">
		<br>
		{% if user.is_authenticated %}
		<span class="profile-form-title">redirecting</span>
		{% else %}

		<span class="profile-form-title">Sign Up</span>
		<br>
		<span style="color:red;">{{ error }}</span>
		<form id="register_form" action="/accounts/register/" method="POST">
			{% csrf_token %}
			<br>
			<div class="row">
				<input id="id_first_name" maxlength="30" name="first_name" type="text" required placeholder="First Name"  class="form-control">
			</div><br>
			<div class="row">
				<input id="id_last_name" maxlength="30" name="last_name" type="text" placeholder="Last Name"  class="form-control">
			</div><br>
			<div class="row">
				<input id="id_email" name="email" type="email" required placeholder="Email"  class="form-control">
			</div><br>
			<div class="row">
				<input id="id_username" maxlength="30" name="username" type="text" required placeholder="Username (no spaces please)"  class="form-control">
			</div><br>
			<div class="row">
				<input id="id_password1" name="password1" type="password" autocomplete="off" required placeholder="Password"  class="form-control">
			</div><br>
			<div class="row">
				<input id="id_password2" name="password2" type="password" autocomplete="off" required placeholder="Confirm Password" class="form-control">
			</div><br>
			<div class="row">
				<button class="btn btn-default" type="submit" value="register">Sign Up</button>
			</div>
		</form>
		<hr>
		<a class="btn" href="/accounts/login">Login</a>
		{% endif %}
	</div>
</div>

{% endblock %}